
// Color Generation Helper
$color-step: 15% !global;
@function dark($color) {
    @return darken($color, $color-step);
}

@function light($color) {
    @return lighten($color, $color-step);
}

@mixin color-variations($name, $color, $prefix: "", $attribute: color, $isBorder: false) {

    &.#{$prefix}#{$name} {
        #{$attribute}: $color;
    }
}



// Base Colors
// Use these for charts, flow text colorization and background fills for icons.
// If a color does not exist and is needed, consult with design/webteam first before adding.

$green:				#b6cd48 !default;
$green-dark:        #349933 !default;
$green-light:       #D4DF31 !default;

$orange:			#FFAA27 !default;
$orange-dark:       #bf6400 !default;
$orange-light:      #ffb742 !default;

$red:				#eF2545 !default;
$red-dark:			darken($red, $color-step) !default;  // #BA8E29
$red-light:			lighten($red, $color-step) !default; // #F46C82

$blue:				#52ABE1 !default;
$blue-dark:			#3776A5 !default;
$blue-light:		lighten($blue, $color-step) !default;

$purple:            #BA37a9 !default;
$purple-dark:       #79096b !default;
$purple-light:      #e84fd4 !default;

$pink:              #F92A8E !default;
$pink-dark:         #d10668 !default;
$pink-light:        #fb74b5 !default;


// Gray Base Colors
$gray:              #cecece !default;
$gray-dark:         #ADADAD !default;
$gray-light:        #ECECEC !default;
$gray-alt:          #c6c6c6 !default;


// Dirty Designer Colors
$gray-xlight:       #F9F9F9 !default;


// Named Colors
// Use these in 99% cases. There should be no need for variations if none are provided.

$app-color:			#F6F6F6 !default;
$background-color:	white !default;
$alt-color:	        #F8F8F8 !default;
$text-color:		#5A5A5A !default;

$primary-color: 	$blue !default;
$secondary-color: 	$blue-dark !default;
$dark-color:        #474747 !default;

$border-color:      $gray-light !default;
$input-color:       #F8F8F8 !default;
$label-color:       #787878 !default;

$highlight-color: 	$green !default;

$success-color:     $green !default;
$alert-color:		$red !default;
$warning-color:		$orange !default;
$info-color:		$primary-color !default;


// ----- Color Maps -----

// Named Colors
$named-colors: (
    app: $app-color,
    background: $background-color,
    text: $text-color,

    primary: $primary-color,
    secondary: $secondary-color,
    dark: $dark-color,

    border: $border-color,
    input: $input-color,
    label: $label-color,

    highlight: $highlight-color,

    success: $success-color,
    warning: $warning-color,
    alert: $alert-color,
    info: $info-color,
    inactive: $gray
) !default;

// Base Colors
$base-colors: (
    green: $green,
    green-dark: $green-dark,
    green-light: $green-light,
    orange: $orange,
    orange-light: $orange-light,
    orange-dark: $orange-dark,
    red: $red,
    red-light: $red-light,
    red-dark: $red-dark,
    blue: $blue,
    blue-light: $blue-light,
    blue-dark: $blue-dark,
    purple: $purple,
    purple-light: $purple-light,
    purple-dark: $purple-dark,
    pink: $pink,
    pink-light: $pink,
    pink-dark: $purple-dark,
    gray: $gray,
    gray-light: $gray-light,
    gray-dark: $gray-dark,
    gray-xlight: $gray-xlight
) !default;

// State Colors
$state-names: (info warning alert success inactive) !default;
$state-colors: (
    info: $info-color,
    warning: $warning-color,
    alert: $alert-color,
    success: $success-color,
    inactive: $gray,
) !default;

// Theme Colors
$theme-names: (primary, secondary, dark, highlight) !default;
$theme-colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    dark: $dark-color,
    highlight: $highlight-color
) !default;

$state-and-theme-names: join($state-names, $theme-names);
$state-and-theme-colors: map-merge($state-colors, $theme-colors);



$variations: (color, background, border);
$variations-attributes: (
    color: "color",
    background: "background-color",
    border: "border-color"
);

@each $var in $variations {

    $att: map-get($variations-attributes, $var);
    $prefix: #{$var + '-'};

    // Base Colors
    @include color-variations("green", $green, $prefix, $att);
    @include color-variations("green-dark", $green-dark, $prefix, $att);
    @include color-variations("green-light", $green-light, $prefix, $att);
    @include color-variations("orange", $orange, $prefix, $att);
    @include color-variations("orange-dark", $orange-dark, $prefix, $att);
    @include color-variations("orange-light", $orange-light, $prefix, $att);
    @include color-variations("red", $red, $prefix, $att);
    @include color-variations("red-dark", $red-dark, $prefix, $att);
    @include color-variations("red-light", $red-light, $prefix, $att);
    @include color-variations("blue", $blue, $prefix, $att);
    @include color-variations("blue-dark", $blue-dark, $prefix, $att);
    @include color-variations("blue-light", $blue-light, $prefix, $att);
    @include color-variations("purple", $purple, $prefix, $att);
    @include color-variations("purple-dark", $purple-dark, $prefix, $att);
    @include color-variations("purple-light", $purple-light, $prefix, $att);

    @include color-variations("pink", $pink, $prefix, $att);
    @include color-variations("pink-dark", $pink-dark, $prefix, $att);
    @include color-variations("pink-light", $pink-light, $prefix, $att);

    @include color-variations("gray", $gray, $prefix, $att);
    @include color-variations("gray-dark", $gray-dark, $prefix, $att);
    @include color-variations("gray-light", $gray-light, $prefix, $att);

    // Special Base Color
    @include color-variations("white", white, $prefix, $att);

    // Named Colors
    @include color-variations("app", $app-color, $prefix, $att);
    @include color-variations("background", $background-color, $prefix, $att);

    @include color-variations("primary", $primary-color, $prefix, $att);
    @include color-variations("secondary", $secondary-color, $prefix, $att);
    @include color-variations("text", $text-color, $prefix, $att);
    @include color-variations("dark", $dark-color, $prefix, $att);

    @include color-variations("border", $border-color, $prefix, $att);
    @include color-variations("input", $input-color, $prefix, $att);
    @include color-variations("label", $label-color, $prefix, $att);

    @include color-variations("highlight", $highlight-color, $prefix, $att);

    @include color-variations("success", $success-color, $prefix, $att);
    @include color-variations("alert", $alert-color, $prefix, $att);
    @include color-variations("warning", $warning-color, $prefix, $att);
    @include color-variations("info", $info-color, $prefix, $att);
}
