
// Color Generation Helper
$color-step: 15% !global;
@function dark($color) {
    @return darken($color, $color-step);
}

@function light($color) {
    @return lighten($color, $color-step);
}

// Base Colors
// Use these for charts, flow text colorization and background fills for icons.
// If a color does not exist and is needed, consult with design/webteam first before adding.

$green:				#b6cd48 !default;
$green-dark:        #349933 !default;
$green-light:       #D4DF31 !default;

$orange:			#FFAA27 !default;
$orange-dark:       #bf6400 !default;
$orange-light:      #ffb742 !default;

$red:				#eF2545 !default;
$red-dark:			darken($red, $color-step) !default;  // #BA8E29
$red-light:			lighten($red, $color-step) !default; // #F46C82

$blue:				#52ABE1 !default;
$blue-dark:			#3776A5 !default;
$blue-light:		lighten($blue, $color-step) !default;

$purple:            #BA37a9 !default;
$purple-dark:       #79096b !default;
$purple-light:      #e84fd4 !default;

$pink:              #F92A8E !default;
$pink-dark:         #d10668 !default;
$pink-light:        #fb74b5 !default;


// Gray Base Colors
$gray:              #cecece !default;
$gray-dark:         #ADADAD !default;
$gray-light:        #ECECEC !default;
$gray-alt:          #c6c6c6 !default;


// Dirty Designer Colors
$gray-xlight:       #F9F9F9 !default;


// Named Colors
// Use these in 99% cases. There should be no need for variations if none are provided.

$app-color:			#F6F6F6 !default;
$background-color:	white !default;
$alt-color:	        #F8F8F8 !default;
$text-color:		#5A5A5A !default;

$primary-color: 	$blue !default;
$secondary-color: 	$blue-dark !default;
$dark-color:        #474747 !default;

$border-color:      $gray-light !default;
$input-color:       #F8F8F8 !default;
$label-color:       #787878 !default;

$highlight-color: 	$green !default;

$success-color:     $green !default;
$alert-color:		$red !default;
$warning-color:		$orange !default;
$info-color:		$primary-color !default;

