@import "../patterns/globals/colors.scss";
@import "../patterns/globals/typography.scss";

/*
@import "colors";
@import "typography";
*/

body {
  font-size: 12px;
}

p {
  border: 1px solid $grey;
  font-family: $family;
}