$white: white;
$red: #990012;
$grey: lightgrey;$family: "Tahoma";

%font-action {
  color: $red;
  font-size: 1.2rem;
  line-height: 1.1rem;
}
body {
  font-size: 12px;
}

p {
  border: 1px solid $grey;
  font-family: $family;
}